.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background: rgba(0, 0, 0, 0.3);
}

.modal {
    width: 35vw;
    max-height: 50vh;
    background: white;
    border-radius: 10px;
}

.chat-container {
    width: 95vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-placeholder {
    flex: 1;
    overflow: scroll;
    padding-bottom: 8vh;
}

.chat {
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 18%);
    padding: 2rem;
}

.owner {
    background: hsl(217, 100%, 78%);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 50%;
    align-self: flex-end;
}

.other {
    background: hsl(0, 0%, 87%);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 50%;
    align-self: flex-start;
}

.text-box {
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    padding: 0.5rem;
}

.text-input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 5px;
    color: hsl(0, 0%, 18%);
}

.sidebar {
    width: 8vh;
    z-index: 10;
    border-right: 1px solid hsl(0, 0%, 87%);
}

.analytics-container {
    height: 100vh;
    width: 35vw;
}

.chat-title {
    font-size: 1.4rem;
    color: hsl(0, 0%, 18%);
    border-bottom: 1px solid hsl(0, 0%, 87%);
    padding: 0.7rem;
    padding-left: 1rem;
    display: flex;
}

.chat-menu {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 0.2rem;
    border-left: 1px solid hsl(0, 0%, 87%);
    padding-left: 0.5rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.3);
    z-index: 51;
}

.spinner {
    color: rgb(0, 0, 0);
    fill: rgb(255, 255, 255);
}