.left-panel {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    background-color: hsl(221, 83%, 53%);
}

.red-outline {
    color: red;
    font-weight: 600;
}

.invalid-text {
    color: red;
    font-weight: normal;
    font-style: italic;
}