/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/Login.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.left-panel {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    background-color: hsl(221, 83%, 53%);
}

.red-outline {
    border-color: red;
}
